@mixin media($width) {
  @media screen and (max-width: #{$width}px) {
    @content;
  }
}

@mixin flex($align, $justify: unset) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
